<template>
  <div class="tab-bar">
    <van-tabbar
      route 
      v-model="currentIndex" 
      active-color="#ff9854" 
      class="van-tabbar"
    >
      <template v-for="(item, index) in tabbarData" :key="item.text">
        <van-tabbar-item :to="item.path">
          <span>{{item.text}}</span>
          <template #icon>
            <img v-if="currentIndex !== index" :src="getAssetURL(item.image)" alt="">
            <img v-else :src="getAssetURL(item.imageActive)" alt="">
          </template>
        </van-tabbar-item>
      </template> 
    </van-tabbar>    
  </div>
</template>

<script setup>
import { computed, ref, watch } from "vue";
import { useRoute } from "vue-router";
import { tabbarData } from "@/assets/data/tabbar"
import { getAssetURL } from "@/utils/asset_url"

const currentIndex = ref(0)
const route = useRoute()
watch(route, (newRoute) => {
  const index = tabbarData.findIndex(item => item.path === newRoute.path)
  if(index === -1) return
  currentIndex.value = index
})


</script>

<style lang="less" scoped>
.tab-bar {
  .van-tabbar {
    height: 50px;
    border-top: 1px solid #eee;

    img {
      height: 28px;
    }
  }
  
}
</style>