<template>
  <div class="favor-out">
    <van-nav-bar 
      class="nav-bar" 
      left-text="旅途" 
      left-arrow 
      @click-left="onClickLeft"
    >
      <template #title>
        <van-tabs v-model:active="active" type="card" color="#ff9854">
          <van-tab v-for="item in titles" :key="item" :title="item">
          </van-tab>
        </van-tabs>
      </template>
      <template #right>
        <van-icon name="wap-nav" size="18" />
      </template>
    </van-nav-bar>
    <div v-if="active === 0" class="favor">
      <van-tabs v-model:active="activeName" color="#ff9854">
        <van-tab title="房屋" name="house">
          <div class="house">
            <template v-for="item in favorList" :key="item">
              <favor-item-list :item-data="item"/>
            </template>
          </div>
        </van-tab>
        <van-tab title="房东" name="landlord">
          <div v-if="landlordList.length"></div>
          <div v-else>
            <favor-landlord />
          </div>
        </van-tab>
      </van-tabs>
    </div>
    <div v-if="active === 1" class="history">
      <template v-for="item in historyList" :key="item">
        <favor-item-list :item-data="item"/>
      </template>
    </div>

  </div>
</template>

<script setup>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { getFavorList, getHistoryList } from "@/services"
import FavorItemList from '@/components/favorItemList/favor-item-list.vue';
import FavorLandlord from '@/components/favorLandlord/favor-landlord.vue';

const router = useRouter()
const onClickLeft = () => {
  router.go(-1)
}

const titles = ["我的收藏", "浏览历史"]
const active = ref(0)
const activeName = ref("house")

const favorList = ref([])
const historyList = ref([])
const landlordList = ref([])

getFavorList().then(res => {
  favorList.value = res.data.data.items || []
})
getHistoryList().then(res => {
  historyList.value = res.data.data.items || []
})

</script>

<style lang="less" scoped>
.favor-out {
  margin-bottom: 50px;
  background-color: #f7f8fb;
  .nav-bar {
    font-weight: 700;
  }
  .favor {
    font-size: 14px;
    .house {
      padding: 10px 20px;
    }
  }
  .history {
    padding: 10px 20px;
  }
}
</style>