<template>
  <div class="order-item-list">
    <div class="top">
      <span class="name ellipsis-text-1">{{itemData.unitName}}</span>
      <div class="desc" :style="{color: itemData.orderStatusDescColor}">
        {{itemData.orderStatusDesc}}
        <span class="text">{{itemData.cancelReasonDesc}}</span>
      </div>
    </div>
    <div class="content">
      <img :src="itemData.unitPicture" alt="">
      <enter-leave-time :item-data="itemData" />
    </div>
    <div class="bottom">
      <auto-cancel-order :item-data="itemData"/>
    </div>
  </div>
</template>

<script setup>
import EnterLeaveTime from "./cpns/enter-leave-time.vue"
import AutoCancelOrder from "./cpns/auto-cancel-order.vue"

defineProps({
  itemData: {
    type: Object,
    default: () => ({})
  }
})

</script>

<style lang="less" scoped>
.order-item-list {
  margin-top: 10px;
  padding: 0 20px;
  background-color: #fff;
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    .name {
      max-width: 204px;
      font-size: 12px;
      padding-top: 3px;
    }
    .desc {
      font-size: 18px;
      .text {
        font-size: 12px;
      }
    }
  }
  .content {
    position: relative;
    img {
      width: 100%;
      border-radius: 5px;
    }
  } 
}
</style>