<template>
  <div class="city-group">
    <van-index-bar :index-list="indexList">
      <van-index-anchor index="热门" />
      <div class="list">
        <template v-for="(value, index) in groupData.hotCities" :key="index">
          <div class="hotCity" @click="cityClick(value)">
            {{value.cityName}}
          </div>
        </template>
      </div>

      <template v-for="(item, index) in groupData?.cities" :key="index">
        <van-index-anchor :index="item.group" />
        <template v-for="(value, indey) in item.cities" :key="indey">
          <van-cell 
            :title="value.cityName" 
            @click="cityClick(value)" 
          />
        </template>
      </template>
    </van-index-bar> 
  </div>
</template>

<script setup>
  import { computed } from "vue"
  import { useRouter } from "vue-router"
  import useCityStore from "@/stores/modules/city"

  const props = defineProps({
    groupData: {
      type: Object,
      default: () => ({})
    }
  })
  const indexList = computed(() => {
    const list = props.groupData.cities.map(item => item.group)
    list.unshift("#")
    return list
  })

  const router = useRouter()
  const cityStore = useCityStore()
  const cityClick = (value) => {
    // console.log(value)
    cityStore.currentCity = value
    router.back()
  }
</script>

<style lang="less" scoped>
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    padding-right: 25px;
    .hotCity {
      width: 70px;
      height: 28px;
      border-radius: 14px;
      color: #000;
      font-size: 12px;
      text-align: center;
      line-height: 28px;
      background-color: #fff4ec;
      margin: 6px 0;
    }
  }
</style>