<template>
  <div class="auto-cancel-order">
    <div class="left" v-if="itemData.orderStatus === 1">
      <img src="@/assets/image/order/icon-time.png" alt="">
      <span class="countdown">{{remainTime}}分</span>
      <span class="text">{{itemData.summary}}</span>
    </div>
    <div class="btn">
      <button class="button-left" v-if="itemData.orderStatus === 1">联系房东</button>
      <button class="button-right" v-if="itemData.orderStatus === 1">去支付</button>
      
      <button class="button-left" v-if="itemData.orderStatus === 5">删除</button>
      <button class="button-right" v-if="itemData.orderStatus === 5">再次预定</button>
    </div>
  </div>
</template>

<script setup>
import { onMounted, ref } from "vue"

const props = defineProps({
  itemData: {
    type: Object,
    default: () => ({})
  }
})

const remainTime = ref(0)
const timeId = ref(null)
let counter = 1

const startCountdown = () => {
  timeId.value = setInterval(() => {
    remainTime.value = parseInt((props.itemData.countdown - counter) / 60)
    counter++
    if(remainTime.value <= 0) {
      clearInterval(timeId.value)
      return
    }
  }, 1000)
}
onMounted(() => {
  startCountdown()
})

</script>

<style lang="less" scoped>
.auto-cancel-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  .left {
    display: flex;
    img {
      width: 11px;
      height: 11px;
      margin-right: 3px;
    }
    .countdown {
      font-size: 12px;
      color: var(--primary-color);
    }
    .text {
      font-size: 12px;
      color: #666;
    }
  }
  .btn {
    position: absolute;
    right: 20px;
    font-size: 14px;
    .button-left {
      min-width: 75px;
      padding: 1px 6px;
      margin-right: 10px;
      line-height: 30px;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
    .button-right {
      min-width: 75px;
      padding: 1px 6px;
      line-height: 30px;
      color: #fff;
      background: var(--primary-color);
      border: none;
      border-radius: 5px;
    }
  }
}
</style>