<template>
  <div class="enter-leave-time">
    <div class="left">
      <div class="enter">
        <div class="enter-day">{{getTimeData(itemData.checkInDate)}}</div>
        <div class="enter-time">
          <span>{{getTimeData(itemData.checkInDate, true)}}</span>
          <span>{{itemData.checkInLatestTime}}</span>
        </div>
      </div>
      <img src="@/assets/image/order/icon_right_orderlist.png" alt="">
      <div class="leave">
        <div class="leave-day">{{getTimeData(itemData.checkOutDate)}}</div>
        <div class="leave-time">
          <span>{{getTimeData(itemData.checkOutDate, true)}}</span>
          <span>{{itemData.checkOutLatestTime}}</span>
        </div>
      </div>
      <div class="line"></div>
    </div>
    <div class="right">
      <div class="total">支付总价</div>
      <div class="prepay">¥ {{itemData.prepayAmount}}</div>
    </div>
  </div>
</template>

<script setup>
import { computed } from "vue"

defineProps({
  itemData: {
    type: Object,
    default: () => ({})
  }
})

const getTimeData = computed(() => {
  return (dataString, isWeek = false) => {
    let date = new Date(dataString)
    if(isWeek) {
      return "周" + "日一二三四五六".charAt(date.getDay())
    }
    return `${date.getMonth() + 1}月${date.getDate()}日`
  }
})

</script>

<style lang="less" scoped>
.enter-leave-time {
  display: flex;
  text-align: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  color: #fff;
  background: rgba(0, 0, 0, .6);
  border-radius: 0 0 5px 5px;
  .left {
    flex: 1;
    display: flex;
    align-items: center;

    .enter, .leave {
      padding: 0 20px;
    }
    .enter-day, .leave-day {
      font-size: 16px;
      margin-bottom: 6px;
    }
    .enter-time,
    .leave-time {
      font-size: 12px;
    }
    img {
      width: 16px;
      height: 12px;
    }
    .line {
      border: 1px solid #aaa;
      height: 45px;
    }
  }
  .right {
    width: 105px;
    .total {
      font-size: 14px;
      margin-bottom: 5px;
    }
    .prepay {
      font-size: 16px;
      color: var(--primary-color);
      margin-right: 5px;
    }
  }
}
</style>