:root {
  --primary-color: #ff9645;
  --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);

  /* 全局修改: 任何地方只要用到-van-tabbar-item-icon-size都会被修改掉 */
  /* --van-tabbar-item-icon-size: 30px; */

  /* 全局修改：search样式 */
  --van-search-left-icon-color: var(--primary-color) !important;
  --van-nav-bar-title-text-color: var(--primary-color) !important;

  --van-primary-color: var(--primary-color)
}

.top-page {
  position: relative;
  z-index: 9;
  height: 100vh;
  background-color: #fff;
  overflow-y: auto;
}

.ellipsis-text-1 {
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}