<template>
  <div class="search-box">
    <!-- 位置信息 -->
    <div class="location">
      <div class="city" @click="cityClick">{{currentCity.cityName}}</div>
      <div class="position" @click="positionClick">
        <span class="text">我的位置</span>
        <img src="@/assets/image/home/icon_location.png" alt="">
      </div>
    </div>
    <!-- 日期范围 -->
    <div class="section data-range" @click="showCalendar = true">
      <div class="start">
        <div class="data">
          <span class="tip">入住</span>
          <span class="time">{{startDate}}</span>
        </div>
        <div class="stay">共{{stayCount}}晚</div>
      </div>
      <div class="end">
        <div class="data">
          <span class="tip">离店</span>
          <span class="time">{{endDate}}</span>
        </div>
      </div>
    </div>
    <van-calendar 
      v-model:show="showCalendar"
      type="range" 
      color="#ff9854"
      :round="false"
      @confirm="onConfirm"
    />
    <div class="section price-counter">
      <div class="start">价格不限</div>
      <div class="end">人数不限</div>
    </div>
    <div class="section keyword">关键字/位置/民宿名</div>
    <!-- 热门城市建议 -->
    <div class="section hot-suggest">
      <template v-for="(item, index) in hotSuggests" :key="index">
        <div 
          class="item"
          :style="{ color: item.tagText.color, background: item.tagText.background.color }" 
        >
          {{item.tagText.text}}
        </div>
      </template>
    </div>
    <div class="section search-btn">
      <div class="btn" @click="searchBtnClick">开始搜索</div>
    </div>
  </div>
</template>

<script setup>
  import { ref } from "vue"
  import { useRouter } from "vue-router"
  import { storeToRefs } from "pinia"
  import { formatMonthDay, getDiffDays } from "@/utils/format-date"
  import useCityStore from "@/stores/modules/city"
  import useHomeStore from "@/stores/modules/home"  

  const router = useRouter()

  const cityClick = () => {
    router.push("/city")
  }
  const positionClick = () => {
    navigator.geolocation.getCurrentPosition(res => {
      console.log("获取地址成功:", res)
    }, err => {
      console.log("获取地址失败:", err)
    }, {
      enableHighAccuracy: true,
      timeout: 1000,
      maximumAge: 0
    })
  }

  const cityStore = useCityStore()
  const { currentCity } = storeToRefs(cityStore)

  // 日期范围
  const nowDate = new Date()
  const newDate = new Date()
  newDate.setDate(nowDate.getDate() + 1)
  const startDate = ref(formatMonthDay(nowDate))
  const endDate = ref(formatMonthDay(newDate))
  const stayCount = ref(getDiffDays(nowDate, newDate))

  // 设置日历
  const showCalendar = ref(false)
  const onConfirm = (value) => {
    console.log(value)
    const selectStartDate = value[0]
    const selectEndDate = value[1]
    startDate.value = formatMonthDay(selectStartDate)
    endDate.value = formatMonthDay(selectEndDate)
    stayCount.value = getDiffDays(selectStartDate, selectEndDate)
    // 隐藏日历
    showCalendar.value = false
  }

  // 热门城市建议
  const homeStore = useHomeStore()
  const { hotSuggests } = storeToRefs(homeStore)

  // 开始搜索
  const searchBtnClick = () => {
    router.push({
      path: "/search",
      query: {
        startDate: startDate.value,
        endDate: endDate.value,
        currentCity: currentCity.value.cityName
      }
    })
  }

</script>

<style lang="less" scoped>
  .search-box {
    --van-calendar-popup-height: 100%;
  }
  .location {
    display: flex;
    height: 44px;
    align-items: center;
    padding: 0 20px;
    .city {
      flex: 1;
      color: #333;
    }
    .position {
      width: 75px;
      display: flex;
      align-items: center;
      .text {
        font-size: 12px;
        margin-right: 5px;
        color: #666;
      }
      img {
        position: relative;
        width: 18px;
        height: 18px;
        bottom: 1px;
      }
    }
  }
  .section {
    display: flex;
    flex-wrap: wrap;
    height: 44px;
    align-items: center;
    padding: 0 20px;
    color: #999;

    .start {
      flex: 1;
      display: flex;
      height: 44px;
      align-items: center;
    }
    .end {
      min-width: 30%;
      padding-left: 20px;
    }
    .data {
      display: flex;
      flex-direction: column;
      .tip {
        font-size: 12px;
        color: #999;
      }
      .time {
        margin-top: 3px;
        color: #333;
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
  .data-range {
    height: 44px;
    .stay {
      flex: 1;
      text-align: center;
      font-size: 12px;
      color: #666;
    }
  }
  .price-counter {
    font-size: 14px;
  }
  .keyword {
    font-size: 14px;
  }
  .hot-suggest {
    font-size: 12px;
    color: #3f4954;
    margin: 8px 0;
    height: auto;
    .item {
      padding: 4px 8px;
      margin: 4px;
      border-radius: 12px;
    }
  }
  .search-btn {
    .btn {
      width: 342px;
      height: 38px;
      // max-height: 50px;
      font-size: 18px;
      font-weight: 500;
      color: #fff;
      line-height: 38px;
      text-align: center;
      border-radius: 20px;
      background-image: var(--theme-linear-gradient);
    }
  }
</style>