<template>
  <div class="handpick-list">
    <h2 class="title">热门精选</h2>
    <div class="list">
      <template v-for="item in handpickList" :key="item.data.houseId">
        <handpick-list-v3 
          v-if="item.discoveryContentType === 3" 
          :itemData="item.data"
          @click="itemClick(item.data)"
        />
        <handpick-list-v9 
          v-else-if="item.discoveryContentType === 9"
          :itemData="item.data"
          @click="itemClick(item.data)"
        />
      </template>
    </div>
  </div>
</template>

<script setup>
import { storeToRefs } from "pinia"
import { useRouter } from "vue-router"
import useHomeStore from "@/stores/modules/home"
import HandpickListV3 from "@/components/handpick-list-v3/handpick-list-v3.vue"
import HandpickListV9 from "@/components/handpick-list-v9/handpick-list-v9.vue"

const homeStore = useHomeStore()
const { handpickList } = storeToRefs(homeStore)

const router = useRouter()
const itemClick = (item) => {
  // console.log("itemClick", item.houseId)
  router.push("/detail/" + item.houseId)
}

</script>

<style lang="less" scoped>
.handpick-list {
  padding: 10px 8px;
  .title {
    padding: 10px;
    font-size: 22px;
  }
  .list {
    display: flex;
    flex-wrap: wrap;
  }
}
</style>