<template>
  <div class="nav-bar">
    <div class="title">弘源旅途</div>
  </div>
</template>

<script setup>

</script>

<style lang="less" scoped>
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  border-bottom: 1px solid #eee;
  .title {
    font-weight: 600;
    color: var(--primary-color);
  }
}
</style>