<template>
  <div class="favor-side-bar">
    <img class="logo" :src="sideData.logoUrl" alt="">
    <div class="collection">
      <img src="@/assets/image/search/tj-mob-ui_unit-item_collected-new.png" alt="">
    </div>
    <div class="comment">
      <img src="@/assets/image/search/tj-mob-ui_unit-item_comment-new.png" alt="">
      <div class="text">{{sideData.commentBriefForCD.totalCount}}</div>
    </div>
  </div>
</template>

<script setup>
  defineProps({
    sideData: {
      type: Object,
      default: () => ({})
    }
  })

</script>

<style lang="less" scoped>
.favor-side-bar {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  .logo {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-top: 5px;
  }
  .collection {
    img {
      width: 30px;
      height: 30px;
      margin: 10px 0;
    }
  }
  .comment {
    img {
      width: 30px;
      height: 30px;
    }
    .text {
      color: #fff;
    }
  }
}
</style>