<template>
  <div class="favor-landlord">
    <div class="landlord-inner">
      <img src="../../assets/image/favor/empty_favorite.44731802.png" alt=""/>
      <div class="name">暂无收藏</div>
      <div class="onClick">
        点击
        <img src="@/assets/image/favor/favor.png" alt="">
        即可收藏对应的房东
      </div>
      <div class="btn">
        <button class="btn-inner" @click="handleClick">随便去逛逛</button>
      </div>
    </div>
  </div>
</template>

<script setup>
import { useRouter } from "vue-router";

const router = useRouter()
const handleClick = () => {
  router.push("/")
}

</script>

<style lang="less" scoped>
.favor-landlord {
  padding: 10px 20px 149px;
  .landlord-inner {
    text-align: center;
    img {
      width: 100%;
    }
    .name {
      font-size: 18px;
      font-weight: 700;
      color: #333;
    }
    .onClick {
      font-size: 14px;
      font-weight: 700;
      color: #666;
      padding: 12px 0 36px;
      img {
        width: 12px;
        height: 12px;
        margin-top: 2px;
      }
    }
    .btn {
      font-size: 16px;
      color: #fff;
      
      .btn-inner {
        padding: 0 38px;
        height: 40px;
        background: var(--primary-color);
        border: none;
        border-radius: 20px;
      }
    }
  }
}
</style>