<template>
  <div class="favor-bottom-score">
    <div class="comment">
      <div class="overall">{{bottomData.commentBrief.overall}}</div>
      <div class="line">|</div>
      <div class="brief">{{bottomData.commentBrief.commentBrief}}</div>
    </div>
  </div>
</template>

<script setup>
  defineProps({
    bottomData: {
      type: Object,
      default: () => ({})
    }
  })

</script>

<style lang="less" scoped>
.favor-bottom-score {
  position: absolute;
  left: 10px;
  bottom: 8px;
  border-radius: 8px;
  background-color: #eee;
  .comment {
    display: flex;
    align-items: center;
    margin: 0 6px;
    .overall {
      font-weight: 700;
      color: #333;
    }
    .line {
      font-size: 12px;
      color: #ddd;
      margin: 0 2px 0 3px;
    }
    .brief {
      font-size: 12px;
      color: #666;
      margin-top: 1px;
    }
  }
}
</style>