<template>
  <div class="tab-control">
    <template v-for="(item, index) in titleData" :key="index">
      <div 
        class="tab-control-item"
        @click="itemClick(index)"
        :class="{ active: index === currentIndex }"
      >
        <span>{{item}}</span>
      </div>
    </template>
  </div>
</template>

<script setup>
defineProps({
  titleData: {
    type: Array,
    default: () => []
  }
})

let currentIndex = 0
const itemClick = (index) => {
  currentIndex = index
}

</script>

<style lang="less" scoped>
.tab-control {
  display: flex;
  text-align: center;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  background-color: #fff;
  .tab-control-item {
    flex: 1;
  }
  .tab-control-item.active {
    color: var(--primary-color);
    font-weight: 700;
  }
  .tab-control-item.active span {
    border-bottom: 3px solid var(--primary-color);
    padding: 8px;
  }
}
</style>