<template>
  <div class="favor-item-list">
    <div class="swiper-wrapper">
      <!-- 轮播图 -->
      <img class="banner" :src="itemData.defaultPicture" alt="">
      <!-- 侧边栏 -->
      <favor-side-bar :side-data="itemData"/>
      <!-- 分数推荐 -->
      <favor-bottom-score :bottom-data="itemData"/>
    </div>
    <!-- 内容 -->
    <div class="content">
      <div class="top">
        <div class="address">{{itemData.address}}</div>
        <div class="unitSummeries">
          <template v-for="iten in itemData.unitSummeries.splice(0, 1)" :key="iten">
            {{iten.text + "·"}}
          </template>
          <template v-for="iten in itemData.unitSummeries.splice(0, 1)" :key="iten">
            {{iten.text}}
          </template>
        </div>
      </div>
      <div class="title">{{itemData.unitName}}</div>
      <div class="houseTags">
        <template v-for="iteb in itemData.houseTags" :key="iteb">
          <span class="text">{{iteb.text}}</span>
        </template>
      </div>
      <div class="price">
        <span class="sign">¥ </span>
        <span class="finalPrice">{{itemData.finalPrice}}</span>
        <span class="productPrice">¥{{itemData.productPrice}}</span>
        <span class="tipBadge">
          <van-icon name="volume" size="9" class="icon" />
          <span>{{itemData.priceTipBadge?.text}}</span>
        </span>
      </div>
    </div>
  </div>
</template>

<script setup>
import FavorSideBar from "../favorSideBar/favor-side-bar.vue";
import favorBottomScore from "../favorBottomScore/favor-bottom-score.vue"

defineProps({
  itemData: {
    type: Object,
    default: () => ({})
  }
})

</script>

<style lang="less" scoped>
.favor-item-list {
  margin-top: 10px;
  .swiper-wrapper {
    position: relative;
    margin-bottom: 7px;
    .banner {
      width: 100%;
      border-radius: 5px;
    }
  }
  .content {
    font-size: 12px;
    .top {
      display: flex;
      align-items: center;
      .address {
        padding: 2px 3px 0;
        color: #fff;
        border-radius: 3px;
        background-color: #3f4954;
      }
      .unitSummeries {
        position: relative;
        margin-left: 10px;
        white-space: nowrap;
        color: #666;
        margin: 2px 0 0 12px;
      }
    }
    .title {
      font-size: 18px;
      margin-top: 8px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .houseTags {
      margin-top: 7px;
      .text {
        color: rgb(255, 68, 68);
        background: rgba(255, 102, 102, 0.1);
        padding: 0 4px;
        margin-right: 6px;
      }
    }
    .price {
      margin: 3px 0 7px;
      .sign {
        font-size: 14px;
        color: var(--primary-color);
        padding-left: 2px;
      }
      .finalPrice {
        font-size: 20px;
        color: var(--primary-color);
        padding-right: 10px;
      }
      .productPrice {
        padding-right: 10px;
        color: #999;
        text-decoration: line-through;
      }
      .tipBadge {
        padding: 0 3px;
        color: #fff;
        background: rgb(251, 74, 74);
        border-radius: 6px;
        .icon {
          margin-right: 3px;
        }
      }
    }
  }
}
</style>