<template>
  <div class="order">
    <van-nav-bar title="订单列表" left-arrow @click-left="onClick">
      <template #right>
        <van-icon name="wap-nav" size="25"/>
      </template>
    </van-nav-bar>
    <van-tabs 
      v-model:active="activeName" 
      color="#ff9645"
      title-active-color="#ff9645"
    >
      <van-tab title="全部订单" name="allArders">
        <template v-for="item in allOrderData" :key="item">
          <order-item-list :item-data="item" />
        </template>
      </van-tab>
      <van-tab title="近期订单" name="recentArders">
        <template v-for="item in recentOrderData" :key="item">
          <order-item-list :item-data="item" />
        </template>
      </van-tab>
      <van-tab title="待支付" name="unpaid">
        <template v-for="item in pendOrderData" :key="item">
          <order-item-list :item-data="item" />
        </template>
      </van-tab>
    </van-tabs>
  </div>
</template>

<script setup>
import { ref } from 'vue';
import { useRouter } from 'vue-router';
import { getOrdersList } from "@/services"
import OrderItemList from "@/components/orderItemList/order-item-list.vue"

const router = useRouter()
const onClick = () => {
  router.go(-1)
}

const activeName = ref("allArders")
const allOrderData = ref([])
const recentOrderData = ref([])
const pendOrderData = ref([])

const typeTitle = ["all", "recent", "pend"]
for(const type of typeTitle) {
  getOrdersList(type).then(res => {
    if(type === "all") {
      allOrderData.value = res.data.data.orders || []
    } else if(type === "recent") {
      recentOrderData.value = res.data.data.orders || []
    } else if(type === "pend") {
      pendOrderData.value = res.data.data.orders || []
    }
  })
}


</script>

<style lang="less" scoped>
.order {
  background-color: #f7f8fb;
  margin-bottom: 50px;
}
</style>