<template>
  <div class="detail-section">
    <div class="title">
      <span>{{title}}</span>
    </div>
    <div class="content">
      <slot>
        <h3>我是默认内容</h3>
      </slot>
    </div>
    <div class="footer" v-if="footer">
      <span>{{footer}}</span>
      <van-icon name="arrow"/>
    </div>
  </div>
</template>

<script setup>
defineProps({
  title: {
    type: String,
    default: ""
  },
  footer: {
    type: String,
    default: ""
  }
})
</script>

<style lang="less" scoped>
.detail-section {
  padding: 0 15px;
  margin-top: 12px;
  border-top: 5px solid #f0f3f5;
  .title {
    font-size: 20px;
    font-weight: 700;
    height: 50px;
    line-height: 50px;
    color: #333;
    border-bottom: 1px solid #eee;
  }
  .content {
    padding: 8px 0;
  }
  .footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: #ff9645;
    height: 44px;
    line-height: 44px;

  }
}
</style>