<template>
  <div class="city top-page">
    <div class="top">
      <van-search
        v-model="searchValue"
        show-action
        shape="round"
        background="#fbe3d3"
        placeholder="城市/区域/位置"
        @cancel="cancelClick"
      />
      <van-tabs v-model:active="tabValue" color="#ff9854">
        <template v-for="(value, key) in allCities" :key="key">
          <van-tab :title="value.title" :name="key"></van-tab>
        </template>
      </van-tabs>
    </div>
    <div class="content">
      <!-- <city-group :groupData="currentGroup"></city-group> -->
      <template v-for="(value, key, index) in allCities" :key="index">
        <city-group v-show="tabValue === key" :groupData="value"></city-group>
      </template>
    </div>
  </div>
</template>

<script setup>
  import { computed, ref } from "vue"
  import { storeToRefs } from "pinia"
  import { useRouter } from "vue-router"
  import useCityStore from "@/stores/modules/city"

  import cityGroup from "./cpns/city-group.vue"

  const router = useRouter()

  const searchValue = ref("")
  const cancelClick = () => {
    router.back()
  }
  const tabValue = ref()

  // 从store中获取数据
  const cityStore = useCityStore()
  cityStore.fetchAllCitiesData()
  const { allCities } = storeToRefs(cityStore)

  // 获取选中标签后的数据
  const currentGroup = computed(() => allCities.value[tabValue.value])

</script>

<style lang="less" scoped>
  .city {
    .top {
      position: relative;
      z-index: 9;
    }
    .content {
      height: calc(100vh - 98px);
      overflow-y: auto;
    }
  }
</style>