<template>
  <div class="message top-page"> 
    <van-nav-bar title="消息中心" left-arrow @click-left="onClickLeft">
      <template #right>
        <van-icon name="wap-nav" size="25"/>
      </template>
    </van-nav-bar>
    <div class="content">
      <img src="@/assets/image/message/icon_message.png" alt="">
      <div class="text">暂无聊天信息</div>
    </div>
  </div>
</template>

<script setup>
import { useRouter } from 'vue-router';

const router = useRouter()
const onClickLeft = () => {
  router.go(-1)
}

</script>

<style lang="less" scoped>
.message {
  background-color: #f7f8fb;
  .content {
    padding: 0 20px;
    margin-top: 100px;
    img {
      width: 100%;
    }
    .text {
      font-size: 14px;
      text-align: center;
    }
  }
}
</style>