<template>
  <div class="detail top-page">
    <!-- <tab-control
      v-if="showTabControl" 
      class="tabs"
      :titleData="topTitle"
      ref="detailRef"
    /> -->
    <van-nav-bar
      class="nav-bar"
      title="房屋详情"
      left-text="旅途"
      left-arrow
      @click-left="onClickLeft"
    />
    <div v-if="mainPart">
      <detail-swipe :swipe-data="mainPart.topModule.housePicture.housePics"/>
    </div>
    <detail-infos :top-infos="mainPart.topModule"/>
    <detail-facility 
      :house-facility="mainPart.dynamicModule.facilityModule.houseFacility"
    />
    <detail-landlord :landlord-introduce="mainPart.dynamicModule.landlordModule"/>
    <detail-comment :comment-data="mainPart.dynamicModule.commentModule"/>
    <detail-order-rules :order-rules="mainPart.dynamicModule.rulesModule.orderRules"/>
    <detail-location :map-data="mainPart.dynamicModule.positionModule"/>
    <detail-intro :introduction="mainPart"/>
    <detail-reserve :price-data="pricePart.priceModule.product"/>
  </div>
</template>

<script setup>
  import { ref, computed } from "vue"
  import { useRoute, useRouter } from "vue-router"
  import { getDetailInfos } from "@/services"
  import TabControl from "@/components/tab-control/tab-control.vue"
  import DetailSwipe from "./cpns/detail_01-swipe.vue"
  import DetailInfos from "./cpns/detail_02-infos.vue"
  import DetailFacility from "./cpns/detail_03-facility.vue"
  import DetailLandlord from "./cpns/detail_04-landlord.vue"
  import DetailComment from "./cpns/detail_05-comment.vue"
  import DetailOrderRules from "./cpns/detail_06-orderRules.vue"
  import DetailLocation from "./cpns/detail_07-location.vue"
  import DetailIntro from "./cpns/detail_08-intro.vue"
  import DetailReserve from "./cpns/detail_09-reserve.vue"
  import useScroll from "@/hooks/useScroll"

  const router = useRouter()
  const route = useRoute()
  const houseId = route.params.id
  
  const detailInfos = ref({})
  const mainPart = computed(() => detailInfos.value.mainPart)
  const pricePart = computed(() => detailInfos.value.pricePart)
  getDetailInfos(houseId).then(res => {
    detailInfos.value = res.data
  })

  const onClickLeft = () => {
    router.back()
  }

  // const topTitle = ["描述", "设施", "房东", "评论", "须知", "周边",]
  // const detailRef = ref()
  // const { scrollTop } = useScroll(detailRef)
  // const showTabControl = computed(() => {
  //   console.log(scrollTop.value)
  //   return scrollTop.value >= 300
  // })

</script>

<style lang="less" scoped>
.tabs {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
}
.nav-bar {
  font-weight: 700;
  --van-font-weight-bold: 700;
}
</style>