<template>
  <div class="home" ref="homeRef">
    <home-nav-bar/>
    <div class="banner">
      <img src="@/assets/image/home/banner.webp" alt="">
    </div>
    <home-search-box/>
    <home-categories/>
    <home-handpick-list/>
    <div v-if="isShowSearchBar" class="searchBox">
      <search-bar/>
    </div>
  </div>
</template>

<script>
  export default {
    name: "home"
  }
</script>
<script setup>
  import { computed, onActivated, ref, watch } from "vue"
  import HomeNavBar from "./cpns/home-nav-bar.vue"
  import HomeSearchBox from "./cpns/home-search-box.vue"
  import HomeCategories from "./cpns/home-categories.vue"
  import HomeHandpickList from "./cpns/home-handpick-list.vue"
  import SearchBar from "@/components/searchBar/search-bar.vue"
  import useHomeStore from "@/stores/modules/home"
  import useScroll from "@/hooks/useScroll"

  // 网络请求
  const homeStore = useHomeStore()
  homeStore.fetchHotSuggestsData()
  homeStore.fetchCategoriesData()
  homeStore.fetchHandpickListData()

  // 监听window窗口滚动到底部
  // 1.方法一
  // useScroll(() => {
  //   homeStore.fetchHandpickListData()
  // })
  const homeRef = ref()
  const { isReachBottom, scrollTop } = useScroll(homeRef)
  // 2.方法二
  watch(isReachBottom, (newValue) => {
    if(newValue) {
      homeStore.fetchHandpickListData().then(() => {
        isReachBottom.value = false
      })
    }
  })

  // 是否显示搜索框
  // const isShowSearchBar = ref(false)
  // watch(scrollTop, (newValue) => {
  //   isShowSearchBar.value = newValue > 360
  // })
  const isShowSearchBar = computed(() => {
    return scrollTop.value >= 360
  })

  // 跳转回home页面时，保留原来的位置
  onActivated(() => {
    homeRef.value.scrollTo({
      top: scrollTop.value
    })
  })

</script>

<style lang="less" scoped>
.home {
  height: 100vh;
  overflow-y: auto;
  box-sizing: border-box;

  padding-bottom: 60px;
  .banner {
    img {
      width: 100%;
    }
  }
  .searchBox {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    padding: 16px 16px 10px;
    background-color: #fff;
  }
}
</style>