<template>
  <div class="detail-swipe">
    <van-swipe class="my-swipe" :autoplay="3000" indicator-color="red">
      <template v-for="item in swipeData" :key="item">
        <van-swipe-item class="item">
          <img :src="item.url" alt="">
        </van-swipe-item>
      </template>
      <template #indicator="{active}">
        <div class="indicator">
          <template v-for="(value, key, index) in swipeGroup" :key="index">
            <span 
              class="title" 
              :class="{active: swipeData[active]?.enumPictureCategory == key}"
            >
              <span>{{getName(value[0].title)}}</span>
              <span v-if="swipeData[active]?.enumPictureCategory == key">
                {{ getCategoryIndex(swipeData[active]) }}/{{ value.length }}
              </span>
            </span>
          </template>
        </div>
      </template>
    </van-swipe>
  </div>
</template>

<script setup>
  const props = defineProps({
    swipeData: {
      type: Array,
      default: () => []
    }
  })
  // 对数据进行转换
  const swipeGroup = {}
  // 思路二：
  for(const item of props.swipeData) {
    let valueArray = swipeGroup[item.enumPictureCategory]
    if(!valueArray) {
      valueArray = []
      swipeGroup[item.enumPictureCategory] = valueArray
    }
    valueArray.push(item)
  }
  // 思路一：
  // for(const item of props.swipeData) {
  //   swipeGroup[item.enumPictureCategory] = []
  // }
  // for(const item of props.swipeData) {
  //   const valueArray = swipeGroup[item.enumPictureCategory]
  //   valueArray.push(item)
  // }
  // console.log(swipeGroup)

  const nameReg = /【(.*?)】/i
  const getName = (name) => {
    // return name.replace("：", "").replace("【", "").replace("】", "")
    const results = nameReg.exec(name)
    return results[1]
  }

  const getCategoryIndex = (item) => {
    const valueArray = swipeGroup[item.enumPictureCategory]
    return valueArray.findIndex(data => data === item) + 1
  }

</script>

<style lang="less" scoped>
.detail-swipe {
  .my-swipe {
    position: relative;
    .item {
      img {
        width: 100%;
      }
    }
    .indicator {
      position: absolute;
      right: 5px;
      bottom: 5px;
      padding: 4px 5px 2px;
      font-size: 12px;
      color: #fff;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.5);
      .title {
        margin: 0 3px;
        &.active {
          padding: 0 3px;
          background-color: #fff;
          color: #000;
          border-radius: 5px;
        }
      }
    }
  }
}
</style>