<template>
  <div class="detail-infos">
    <div class="name">{{topInfos.houseName}}</div>
    <div class="tags">
      <template v-for="item in topInfos.houseTags" :key="item">
        <span
        class="item"
          v-if="item.tagText"
          :style="{ color: item.tagText.color, background:item.tagText.background.color }"
        >
          {{item.tagText.text}}
        </span>
      </template>
    </div>
    <div class="comment extra">
      <div class="left">
        <span class="score">{{topInfos.commentBrief.overall}}</span>
        <span class="title">{{topInfos.commentBrief.scoreTitle}}</span>
        <span class="brief">{{topInfos.commentBrief.commentBrief}}</span>
      </div>
      <div class="right">
        {{topInfos.commentBrief.totalCount}}条评论
        <van-icon name="arrow"/>
      </div>
    </div>
    <div class="position extra">
      <span class="left">
        {{topInfos.nearByPosition.address}}
      </span>
      <span class="right">地图·周边
        <van-icon name="arrow"/>
      </span>
    </div>
  </div>
</template>

<script setup>
  const props = defineProps({
    topInfos: {
      type: Object,
      default: () => ({})
    }
  })

</script>

<style lang="less" scoped>
.detail-infos {
  padding: 16px;
  .name {
    font-weight: 700;
    font-size: 20px;
    color: #333;
    text-align: justify;
    line-height: 24px;
    overflow: hidden;
    margin-bottom: 6px;
  }
  .tags {
    margin: 10px 0;
    .item {
      font-size: 12px;
      margin: 0 2px;
      padding: 1px 3px;
    }
  }
  .extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    margin: 12px 0;
    padding: 8px 12px;
    background-color: #f5f7fa;
    border-radius: 5px;
  }
  .comment {
    .left {
      .score {
        font-size: 18px;
        font-weight: 700;
        color: #333;
      }
      .title {
        font-weight: 700;
        color: #333;
        margin: 0 3px;
      }
      .brief {
        color: #666;
      }
    }
    .right {
      color: #ff9645;
    }
  }
  .position {
    .left {
      font-size: 14px;
      font-weight: 700;
      color: #333;
    }
    .right {
      color: #ff9645;
    }
  }
}
</style>