<template>
  <div class="intro">
    <div class="intro-inner">
      <div class="title">{{introduction.introductionModule.title}}</div>
      <div class="content">{{introduction.introductionModule.introduction}}</div>
    </div>
    <div class="logo">
      <img :src="introduction.ensureModule.icon" alt="">
      <div class="text">弘源旅途,永无止境</div>
    </div>
  </div>
</template>

<script setup>
defineProps({
  introduction: {
    type: Object,
    default: () => ({})
  }
})

</script>

<style lang="less" scoped>
.intro {
  margin-bottom: 60px;
  font-size: 12px;
  border-top: 5px solid #f0f3f5;
  .intro-inner {
    padding: 16px;
    .title {
      font-size: 14px;
      font-weight: 700;
    }
    .content {
      margin-top: 10px;
      line-height: 1.5;
      color: #666;
    }
  }
  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    img {
      width: 123px;
      height: 17px;
    }
    .text {
      margin-top: 12px;
      color: #7688a7;
    }
  }
}
</style>