<template>
  <div class="reserve">
    <div class="chat">
      <van-icon class="comment" name="comment"/>
      <div class="text">聊天</div>
    </div>
    <div class="night">
      <div class="discount-price">¥{{priceData.finalPrice}}</div>
      <div class="late-one">/晚</div>
      <div class="original-price">¥{{priceData.productPrice}}</div>
    </div>
    <div class="current">
      <van-icon class="wap-home" name="wap-home" />
      <div>预定当前房源</div>
    </div>
  </div>
</template>

<script setup>
defineProps({
  priceData: {
    type: Array,
    default: () => []
  }
})

</script>

<style lang="less" scoped>
.reserve {
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #fff;
  .chat {
   text-align: center;
    width: 50px;
    font-size: 12px;
    border-right: 1px solid #ddd;
    .comment {
      font-size: 17px;
      color: #444;
    }
  }
  .night {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #666;
    .discount-price {
      font-size: 16px;
      font-weight: 700;
      color: #ff9645;
    }
    .late-one {
      margin: 0 6px;
    }
    .original-price {
      text-decoration: line-through;
    }
  }
  .current {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 100%;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(90deg, #fa8c1d, #fcaf3f);
    .wap-home {
      margin-right: 3px;
    }
  }
}
</style>