<template>
  <div class="orderRules">
    <detail-section title="预定须知">
      <div class="content">
        <template v-for="item in orderRules" :key="item">
          <div class="item">
            <span class="title">{{item.title}}</span>
            <span class="introduction">{{item.introduction}}</span>
          </div>
        </template>
      </div>
    </detail-section>
  </div>
</template>

<script setup>
import DetailSection from '@/components/detail-section/detail-section.vue';

defineProps({
  orderRules: {
    type: Array,
    default: () => []
  }
})

</script>

<style lang="less" scoped>
.orderRules {
  .content {
    padding: 8px 0;
    font-size: 12px;
    .item {
      display: flex;
      margin: 10px 0 20px;
      .title {
        color: #666;
        width: 68px;
      }
      .introduction {
        color: #333;
      }
    }
  }
}
</style>