<template>
  <div class="comment">
    <detail-section title="热门评论" 
      :footer="`查看全部${commentData.totalCount}条评论`"
    >
      <div class="comment-inner">
        <div class="header">
          <div class="left">
            <div class="overall">
              <div class="text">{{commentData.overall}}</div>
              <div class="line"></div>
            </div>
            <div class="super">
              <div class="title">{{commentData.scoreTitle}}</div>
              <div class="count">{{commentData.totalCount}}条评论</div>
              <div class="star">
                <van-rate v-model="commentData.comment.overall" size="12" color="#ff9645" readonly allow-half />
              </div>
            </div>
          </div>
          <div class="right">
            <template v-for="item in commentData.subScores" :key="item">
              <span class="item">{{item}}</span>
            </template>
          </div>
        </div>
        <div class="tags">
          <template v-for="(item, index) in commentData.commentTagVo" :key="index">
            <span class="item" v-if="item.text">{{item.text}}</span>
          </template>
        </div>
        <div class="content">
          <div class="observer">
            <div class="userAvatars">
              <img :src="commentData.comment.userAvatars" alt=""/>
            </div>
            <div class="user">
              <div class="name">{{commentData.comment.userName}}</div>
              <div class="date">{{commentData.comment.checkInDate}}</div>
            </div>
          </div>
          <div class="commentDetail">
            {{commentData.comment.commentDetail}}
          </div>
        </div>
      </div>
    </detail-section>
  </div>
</template>

<script setup>
import DetailSection from '@/components/detail-section/detail-section.vue';

defineProps({
  commentData: {
    type: Object,
    default: () => ({})
  }
})

</script>

<style lang="less" scoped>
.comment {
  .comment-inner {
    font-size: 12px;
    padding: 10px 0;
    .header {
      display: flex;
      justify-content: space-between;
      .left {
        display: flex;
        .overall {
          position: relative;
          font-size: 48px;
          font-weight: 700;
          color: #333;
          .line {
            position: absolute;
            bottom: 3px;
            width: 66px;
            height: 6px;
            border-radius: 3px;
            background: linear-gradient(90deg, #fa8c1d, #fcaf3f);
          }
        }
        .super {
          color: #333;
          margin-left: 20px;
          margin-top: 3px;
          .title {
            color: #333;
          }
          .count {
            margin: 3px 0;
            color: #999;
          }
        }
      }
      .right {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        .item {
          margin-left: 5px;
          color: #666;
        }
      }
    }
    .tags {
      display: flex;
      flex-wrap: wrap;
      margin: 10px 0;
      color: #666;
      .item {
        margin: 5px 8px 0 0;
        padding: 3px 5px;
        background-color: #f5f5f5;
        border-radius: 3px;
      }
    }
    .content {
      padding: 10px;
      background-color: #f7f9fb;
      border-radius: 5px;
      .observer {
        display: flex;
        .userAvatars {
          img {
            width: 32px;
            height: 32px;
            border-radius: 16px;
          }
        }
        .user {
          margin-left: 8px;
          margin-top: 3px;
          .name {
            font-size: 14px;
          }
          .date {
            margin-top: 3px;
            color: #999;
          }
        }
      }
      .commentDetail {
        margin-top: 16px;
        color: #333;
        line-height: 16px;
      }
    }
  }
}
</style>