<template>
  <div class="landlord">
    <detail-section title="房东介绍" footer="查看房东主页">
      <div class="scroll">
        <img :src="landlordIntroduce.topScroll" alt="">
      </div>
      <div class="content">
        <div class="left">
          <div class="logo">
            <img :src="landlordIntroduce.hotelLogo" alt="">
          </div>
          <div class="middle">
            <div class="name">{{landlordIntroduce.hotelName}}</div>
            <div class="tags">
              <template 
                v-for="(item, index) in landlordIntroduce.hotelTags" 
                :key="index"
              >
                <div v-if="item.tagText"
                  :style="{color: item.tagText.color}"
                >
                  <span>{{item.tagText.text}}</span>
                  <span 
                    v-if="index !== landlordIntroduce.hotelTags.length - 1"
                    class="divider"
                  >|</span>
                </div>
              </template>
            </div>
          </div>
        </div>
        <div class="contact">联系房东</div>
      </div>
      <div class="summary">
        <template v-for="(item, index) in landlordIntroduce.hotelSummary" :key="index">
          <div class="item">
            <div class="title">{{item.title}}</div>
            <div class="introduction">{{item.introduction}}</div>
            <div class="tip">{{item.tip}}</div>
          </div>
        </template>
      </div>
    </detail-section>
  </div>
</template>

<script setup>
import DetailSection from '@/components/detail-section/detail-section.vue';

defineProps({
  landlordIntroduce: {
    type: Object,
    default: () => ({})
  }
})

</script>

<style lang="less" scoped>
.landlord {
  .scroll {
    img {
      width: 100%;
      border-radius: 3px;
    }
  }
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    .left {
      display: flex;
      .logo {
        img {
          width: 54px;
          height: 54px;
        }
      }
      .name {
        margin-top: 8px;
        font-size: 16px;
        font-weight: 700;
      }
      .tags {
        display: flex;
        font-size: 12px;
        margin-top: 5px;
        .divider {
          margin: 0 5px;
        }
      }
    }
    .contact {
      right: 0;
      font-size: 12px;
      height: 24px;
      line-height: 24px;
      padding: 0 12px;
      color: #fff;
      background-image: linear-gradient(90deg, #fa8c1d, #fcaf3f);
      border-radius: 5px;
    }
  }
  .summary {
    display: flex;
    justify-content: space-between;
    margin: 50px 10px 10px;
    .item {
      font-size: 12px;
      color: #999;
      .introduction {
        font-size: 18px;
        font-weight: 700;
        color: #333;
        margin: 5px 0;
      }
    }
  }
}
</style>