<template>
  <div class="facility">
    <detail-section title="房屋设施" footer="查看全部设施">
      <div class="facility-inner">
        <template 
          v-for="(item, index) in houseFacility.houseFacilitys" 
          :key="index"
        >
          <div class="item" v-if="houseFacility.facilitySort?.includes(index)">
            <div class="header">
              <img :src="item.icon" alt="">
              <div class="text">{{item.groupName}}</div>
            </div>
            <div class="list">
              <template 
                v-for="(iten, indey) in item.facilitys.slice(0, 4)" 
                :key="indey"
              >
                <div class="iten">
                  <van-icon name="passed" class="passed"/>
                  <span>{{iten.name}}</span>
                </div>
              </template>
            </div>
          </div>
        </template>
      </div>
    </detail-section>
  </div>
</template>

<script setup>
import DetailSection from '@/components/detail-section/detail-section.vue';

defineProps({
  houseFacility: {
    type: Object,
    default: () => ({})
  }
})
</script>

<style lang="less" scoped>
.facility {
  .facility-inner {
    padding: 5px 0;
    font-size: 12px;
    border-radius: 5px;
    background-color: #f7f9fb;
    .item {
      display: flex;
      margin: 25px 0;
      .header {
        width: 90px;
        height: 45px;
        text-align: center;
        img {
          width: 20px;
          height: 20px;
        }
        .text {
          margin-top: 5px;
        }
      }
      .list {
        flex: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .iten {
          box-sizing: border-box;
          width: 50%;
          .passed {
            margin: 0 6px;
            color: #2bd5c7;
          }
        }
      }
    }
  }
}
</style>