<template>
  <div class="handpick-lis-v3">
    <div class="item-inner">
      <div class="cover">
        <img :src="itemData.image.url" alt="">
      </div>
      <div class="info">
        <div class="location">
          <img src="@/assets/image/home/location.png" alt="">
          <div class="text">{{itemData.location}}</div>
        </div>
        <div class="name">{{itemData.houseName}}</div>
        <div class="summary">{{itemData.summaryText}}</div>
        <div class="price">
          <div class="new">¥ {{itemData.finalPrice}}</div>
          <div class="old">¥ {{itemData.productPrice}}</div>
          <div class="tip">{{itemData?.priceTipBadge?.text}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
  const props = defineProps({
    itemData: {
      type: Object,
      default: () => ({})
    }
  })

  // const itemClick = () => {
  //   console.log("itemClick", props.itemData.houseId)
  // }

</script>

<style lang="less" scoped>
.handpick-lis-v3 {
  width: 50%;
  .item-inner {
    margin: 5px;
    border-radius: 6px;
    overflow: hidden;
    .cover {
      img {
        width: 100%;
      }
    }
    .info {
      padding: 8px;
      .location {
        display: flex;
        img {
          width: 12px;
          height: 12px;
        }
        .text {
          font-size: 12px;
          color: #666;
        }
      }
      .name {
        font-size: 14px;
        margin: 5px 0;
        color: #333;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .summary {
        font-size: 12px;
        color: #666;
      }
      .price {
        display: flex;
        align-items: flex-start;
        margin: 8px 0;
        .new {
          font-size: 14px;
          color: #ff9645;
        }
        .old {
          font-size: 12px;
          margin: 0 3px;
          color: #999;
          text-decoration: line-through;
        }
        .tip {
          font-size: 12px;
          padding: 0 6px;
          color: #fff;
          background-image: linear-gradient(270deg,#f66,#ff9f9f);
          border-radius: 8px;
        }
      }
    }
  }
}
</style>