<template>
  <div class="search top-page">
    <div>开始时间: {{$route.query.startDate}}</div>
    <div>结束时间: {{$route.query.endDate}}</div>
    <div>当前地址: {{$route.query.currentCity}}</div>
  </div>
</template>

<script setup>

</script>

<style lang="less" scoped>
  .search {
    height: 100vh;
    overflow-y: auto;
  }
</style>